<p>${teamName}の皆さん</p>
<p><br></p>
<p>ロボカップジュニア ${competitionName} への出場おめでとうございます．</p>
<p>このメールでは，今大会に向けたテクニカルドキュメントの提出方法についてご案内いたします．下の指示に従い，期限までに提出を完了してください．なお，必須項目が期限までに提出されない場合，<strong><u>何らかのペナルティが課される場合もありますので</u></strong>ゆとりを持ってご提出ください．</p>
<p><br></p>
<p>提出先ページ: <a href="${documentUrl}" rel="noopener noreferrer" target="_blank">${documentUrl}</a></p>
<p>提出期限：${deadlineLocal}</p>
<p><br></p>
<h3>留意事項</h3>
<ul>
   <li>フォームには，チームやロボットについての様々な質問が含まれています．&nbsp;</li>
   <li>フォームを送信した後でも，あなたは大会までにロボットのハードウェアやソフトウェアを自由に改造・修正することができます．</li>
   <li>このフォームは，設定された期限まで何度でも編集することができます．</li>
   <li>複数のチームのメンターを兼任されている場合，このメールは対象チームごとに個別に配信されています．各チームごとに提出先フォームが異なりますのでご注意ください．</li>
   <li><u style="color: rgb(230, 0, 0);">一部のレガシーブラウザには対応していません．最新版のGoogle Chrome, Firefox, Safari等をご利用ください．</u></li>
</ul>
<br>
<p>-------</p>
<p>このメールは送信専用アドレスから，システムより自動配信されています．返信は受付できませんのでご了承ください．</p>
<p><br></p>